header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}
header .container .mobile-nav-handler {
  width: 19px;
  height: 16px;
  box-sizing: border-box;
  border-top: 1px solid #0c2756;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  z-index: 9;
}
header .container .mobile-nav-handler::before,
header .container .mobile-nav-handler::after {
  content: "";
  position: absolute;
  background: #0c2756;
  height: 1px;
  left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
header .container .mobile-nav-handler::before {
  width: 11px;
  top: 7px;
}
header .container .mobile-nav-handler::after {
  width: 15px;
  top: 15px;
}
header .container .mobile-nav-handler.close {
  border-color: rgba(12, 39, 86, 0);
}
header .container .mobile-nav-handler.close::before,
header .container .mobile-nav-handler.close::after {
  top: 7px;
  width: 19px;
}
header .container .mobile-nav-handler.close::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
header .container .mobile-nav-handler.close::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
header .container .logo a {
  display: block;
}
header .container .logo a img {
  display: block;
}
header .container nav ul {
  margin: 0;
  padding: 0;
}
header .container nav ul li {
  list-style: none;
  display: inline-block;
}
header .container nav ul li span,
header .container nav ul li a {
  text-decoration: none;
  color: #808080;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
header .container nav ul li span.active,
header .container nav ul li span:hover,
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: #000;
  font-weight: 600;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
@media (min-width: 768px) {
  header {
    padding: 20px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .mobile-nav-handler {
    display: none;
  }
  header .container .logo {
    width: 95px;
  }
  header .container .logo img {
    max-width: 100%;
  }
  header .container nav ul li span,
  header .container nav ul li a {
    font-size: 17px;
    line-height: 24px;
    padding: 5px 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .container nav ul li span,
  header .container nav ul li a {
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .container nav ul li span,
  header .container nav ul li a {
    padding: 5px 25px !important;
  }
}
@media (max-width: 767px) {
  header {
    padding: 15px 0;
    height: 70px;
    box-sizing: border-box;
    background: #fcfcfc;
    border-bottom: 1px solid #ccc;
  }
  header .container {
    position: relative;
  }
  header .container .mobile-nav-handler {
    display: block;
  }
  header .container .logo {
    width: 100%;
    text-align: center;
  }
  header .container .logo a {
    display: inline-block;
    position: relative;
    top: 3px;
  }
  header .container .logo a img {
    width: 65px;
  }
  header .container nav {
    position: fixed;
    left: -400px;
    top: 70px;
    width: 300px;
    height: 100vh;
    z-index: 9;
    background: rgba(255, 255, 255, 0.98);
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  }
  header .container nav ul {
    padding: 55px 30px 55px 55px;
  }
  header .container nav ul li {
    display: block;
  }
  header .container nav ul li span,
  header .container nav ul li a {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #cccccc;
    display: block;
    position: relative;
  }
  header .container nav ul li span::before,
  header .container nav ul li span::after,
  header .container nav ul li a::before,
  header .container nav ul li a::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 1px;
    right: 0;
    background: #707070;
  }
  header .container nav ul li span::before,
  header .container nav ul li a::before {
    top: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  header .container nav ul li span::after,
  header .container nav ul li a::after {
    top: 28px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  header .container nav ul li span.active::before,
  header .container nav ul li span.active::after,
  header .container nav ul li a.active::before,
  header .container nav ul li a.active::after {
    height: 2px;
    background: #000;
  }
  header .container nav ul li:last-child span {
    border-bottom: none;
  }
  header .container nav::after {
    content: "";
    position: fixed;
    top: 70px;
    right: -200px;
    width: calc(100% - 300px);
    height: 100vh;
    background: #cccccc;
    opacity: 0.6;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
  }
  header .container nav.show {
    left: 0;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
  }
  header .container nav.show::after {
    right: 0;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
  }
  header .container .header-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
  }
}
footer {
  background: #f6f6f6;
  position: relative;
}
footer .container .one a,
footer .container .two a,
footer .container .three a,
footer .container .four a {
  text-decoration: none;
}
footer .container .one p,
footer .container .two p,
footer .container .three p,
footer .container .four p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px;
  color: #000000;
  letter-spacing: 0.12px;
}
footer .container .one p span,
footer .container .two p span,
footer .container .three p span,
footer .container .four p span {
  display: block;
}
footer .container .one p.sm,
footer .container .two p.sm,
footer .container .three p.sm,
footer .container .four p.sm {
  color: #707070;
}
footer .container .two a,
footer .container .three a {
  display: inline-block;
  margin-right: 28px;
}
footer .container .two a:last-child,
footer .container .three a:last-child {
  margin-right: 0;
}
footer .container .two a img {
  height: 24px;
}
footer .container .three a img {
  height: 28px;
}
footer .container .social {
  text-align: center;
}
footer::before,
footer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
footer::before {
  background: #00b9f5;
}
footer::after {
  background: #213368;
}
@media (min-width: 768px) {
  footer {
    padding: 90px 0 15px;
    margin-bottom: 40px;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
  }
  footer .container .one p.sm {
    margin-top: 65px;
  }
  footer .container .two,
  footer .container .three,
  footer .container .four {
    padding-top: 40px;
  }
  footer .container .social {
    display: flex;
    justify-content: space-between;
  }
  footer::before {
    height: 20px;
    bottom: -20px;
  }
  footer::after {
    height: 20px;
    bottom: -40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 70px 0 15px;
  }
  footer .container .one p.sm {
    margin-top: 45px;
  }
  footer .container .two,
  footer .container .three,
  footer .container .four {
    padding-top: 30px;
  }
  footer .container .social {
    display: flex;
    justify-content: space-between;
  }
  footer .container .social a {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  footer {
    padding: 80px 0;
    margin-bottom: 20px;
  }
  footer .container {
    width: 80%;
  }
  footer .container .one,
  footer .container .four {
    text-align: center;
  }
  footer .container .one img,
  footer .container .four img {
    width: 105px;
    margin: 0 auto;
  }
  footer .container .one,
  footer .container .two,
  footer .container .three {
    margin-bottom: 70px;
  }
  footer .container p {
    text-align: center;
  }
  footer .container p.sm {
    margin-top: 15px;
  }
  footer .container .social a {
    margin: 0 10px !important;
  }
  footer::before {
    height: 10px;
    bottom: -10px;
  }
  footer::after {
    height: 10px;
    bottom: -20px;
  }
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
.clear {
  clear: both;
  height: 1px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.sky--color {
  color: #66d6ff;
}
.btn {
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
}
.btn--sky {
  background: #66d6ff;
  color: #fff;
  border: none;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.btn--sky::before,
.btn--sky::after {
  background: #fff;
}
.btn--sky:hover {
  background: #00baf2;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.btn--blue {
  background: #213368;
  color: #fff;
  border: none;
}
.btn--blue::before,
.btn--blue::after {
  background: #fff;
}
.btn--arrow {
  position: relative;
  padding-right: 40px;
}
.btn--arrow::before,
.btn--arrow::after {
  content: "";
  position: absolute;
  right: 25px;
  width: 8px;
  height: 2px;
}
.btn--arrow::before {
  top: 19px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.btn--arrow::after {
  top: 24px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.btn--large {
  font-size: 20px;
  line-height: 26px;
  padding: 22px 50px;
  font-weight: 600;
}
.btn--large.btn--arrow {
  padding-right: 65px;
}
.btn--large.btn--arrow::before,
.btn--large.btn--arrow::after {
  right: 45px;
  width: 11px;
  height: 2px;
}
.btn--large.btn--arrow::before {
  top: 31px;
}
.btn--large.btn--arrow::after {
  top: 38px;
}
.btn--border {
  background: none;
  border: 1px solid #66d6ff;
  color: #66d6ff;
}
.btn--border::before,
.btn--border::after {
  background: #66d6ff;
}
.icn--arrow {
  position: relative;
  padding-right: 20px;
}
.icn--arrow::before,
.icn--arrow::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 7px;
  height: 2px;
}
.icn--arrow::before {
  top: 9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.icn--arrow::after {
  top: 13px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.icn--black {
  border: none;
}
.icn--black::before,
.icn--black::after {
  background: #000;
}
.icn--blue {
  border: none;
}
.icn--blue::before,
.icn--blue::after {
  background: #213368;
}
.container {
  margin: 0 auto;
}
h3.head {
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 25px;
  text-align: center;
  font-weight: 600;
}
h3.head span {
  font-size: 17px;
  line-height: 28px;
  display: block;
  font-weight: 500;
  color: #66d6ff;
}
h3.head span strong {
  font-weight: 700;
}
h3.head.lg {
  margin-bottom: 55px;
  font-size: 46px;
  line-height: 56px;
}
h3.head.lg span {
  margin-bottom: 15px;
}
h4.head {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 25px;
  text-align: center;
  font-weight: 600;
}
h4.subhead {
  font-size: 26px;
  line-height: 32px;
  margin: 0px 80px 15px;
  font-weight: 500;
  text-align: center;
}
h4.subhead span {
  display: block;
}
h5.subhead {
  font-size: 21px;
  line-height: 30px;
  margin: 30px 80px 55px;
  font-weight: 500;
  text-align: center;
}
h5.subhead span {
  display: block;
}
.art-img {
  text-align: center;
}
.art-img img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.icn-check {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 21px;
  background: #66d6ff;
  display: inline-block;
}
.icn-check::before,
.icn-check::after {
  content: "";
  position: absolute;
  background: #fff;
}
.icn-check::before {
  width: 2px;
  height: 4px;
  left: 7px;
  top: 9px;
  transform: rotate(-40deg);
}
.icn-check::after {
  width: 2px;
  height: 8px;
  left: 11px;
  top: 7px;
  transform: rotate(50deg);
}
.dflex {
  display: flex;
}
.fwrap {
  flex-wrap: wrap;
}
input[type="date"] {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
@media (max-width: 767px) {
  body {
    padding-top: 70px;
    overflow-x: hidden;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    padding: 10px 15px;
  }
  .btn--arrow {
    position: relative;
    padding-right: 25px;
  }
  .btn--arrow::before,
  .btn--arrow::after {
    right: 15px;
    width: 6px;
    height: 2px;
  }
  .btn--arrow::before {
    top: 14px;
  }
  .btn--arrow::after {
    top: 18px;
  }
  .btn--large {
    font-size: 12px;
    line-height: 26px;
    padding: 12px 25px;
    font-weight: 600;
  }
  .btn--large.btn--arrow {
    padding-right: 35px;
  }
  .btn--large.btn--arrow::before,
  .btn--large.btn--arrow::after {
    right: 20px;
    width: 9px;
    height: 2px;
  }
  .btn--large.btn--arrow::before {
    top: 22px;
  }
  .btn--large.btn--arrow::after {
    top: 28px;
  }
  .icn--arrow {
    position: relative;
    padding-right: 25px;
  }
  .icn--arrow::before,
  .icn--arrow::after {
    right: 15px;
    width: 6px;
    height: 2px;
  }
  .icn--arrow::before {
    top: 14px;
  }
  .icn--arrow::after {
    top: 18px;
  }
  .container {
    width: 90%;
  }
  h3.head span {
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0 0;
  }
  h3.head.lg {
    margin-bottom: 45px;
    font-size: 38px;
    line-height: 50px;
  }
  h3.head.lg span {
    margin: 0 0 15px;
  }
  h4.head {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 25px;
    text-align: center;
    font-weight: 600;
  }
  h5.subhead {
    font-size: 15px;
    line-height: 22px;
    margin: 35px 40px 40px;
    font-weight: 700;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 88px;
  }
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .btn--large {
    font-size: 17px;
    line-height: 26px;
    padding: 12px 25px;
    font-weight: 600;
  }
  .btn--large.btn--arrow {
    padding-right: 35px;
  }
  .btn--large.btn--arrow::before,
  .btn--large.btn--arrow::after {
    right: 20px;
    width: 9px;
    height: 2px;
  }
  .btn--large.btn--arrow::before {
    top: 22px;
  }
  .btn--large.btn--arrow::after {
    top: 28px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    padding-top: 88px;
  }
  .container {
    width: 980px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  body {
    padding-top: 88px;
  }
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
